.cart{
    padding-top: 3vh;
    color: white;
    background-color: black;
    height: 100vh;
    flex-direction: column;
    display: flex;
    align-items: center;

}

a {
    text-decoration: none;
    
}

.link {

    font-size: 4vh;
    text-decoration: none;
    color: grey;

}

.link:hover {

    color: blanchedalmond;
    transition: 0.5s ease-in;

}



.cart__container {

    color: white;
    background-color: black;
    height: 75vh;

}

.cart__container h3 {

    padding-top:3vh;
    font-family: 'Montserrat', sans-serif;


}

.cart__item{
    padding: 2vh;
    box-sizing: border-box;
    display: flex;
    border: 1px solid grey;
    justify-content: space-between;
    height: 15vh;
    width: 95%;
    align-items: center;
    
}

.cart__item__detail {
    

    font-size: 2vh;
    display: flex;
    

}

.cart__item__detail__img {

    height: 14vh;
    padding-right: 2vh;

}

.cart__icon {

    font-size: 4vh;

}