.containerItem {

    display: flex;
    color: white;
    background-color: black;
    padding-bottom: 3vh;
    width: 60%;

}

h3 {

    font-size: 3vh;

}

.containerItem__details {
    border-left: 1px solid grey;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-start;
    height: 70vh;
    padding: 3vh;
    font-family: 'Montserrat', sans-serif;
}

.imageDetail {
    padding:3vh;
    height: 70vh;
}

.container__details__prop {

    padding: 1vh;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}

ul{

    padding: 0;

}