.itemsContainer {

    display: flex;
    justify-content: flex-start;
    align-items: center;
    background-color: black;
    color: white;
    height: auto;
    padding: 3vh;
    box-sizing: content-box;
    flex-wrap: wrap;

}