.Nav {

    display: flex;
    height: 10vh;
    background-color: black;
    justify-content: space-between;
    box-sizing: border-box;
    padding: 1vh;


}


.Nav__container {
    font-family: 'Montserrat', sans-serif;
    margin-right: 5%;
    width: 70vh;
    display: flex;
    color: #a6a6a6;

    justify-content: space-between;
    align-items: center;
}

.Nav__container__item {

    display: flex;
    align-items: center;

}

.Nav__container__item__p {

    font-size: 2vh;
    color: white;
    padding: 0;
    margin: 0 1vh 0 1vh;

}